<div class="card">hola</div>
<br />
<p-button icon="pi pi-home" [disabled]="false" (click)="enviar()"></p-button>

<p-table [value]="products" [paginator]="true" [rows]="5">
  <ng-template pTemplate="header">
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Category</th>
      <th>Quantity</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.code }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.quantity }}</td>
    </tr>
  </ng-template>
</p-table>

<p-toast></p-toast>
<button
  type="button"
  pButton
  pRipple
  (click)="show()"
  label="Show"
  class="p-button-success"
></button>
